<div id="top" class="header">
    <div class="grid grid-pad">
        <div class="col-2-12 header-logo">
            <div class="content">
                <a href="{{ site.baseUrl }}"><img src="{{ site.baseUrl }}/assets/img/logo.png" alt="logo" /><span>{{ site.name }}</span></a>
            </div>
        </div>
        <div class="col-10-12 header-menu">
            <div class="content">
                <ul>
                    {% if page.path != "index.html" %}
                    <li><a href="{{ site.baseUrl }}">¡hi</a></li>
                    {% endif %}
                    <li><a href="#glob">glob</a></li>
                    <li><a href="#utils">utils</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>