::selection {background: #57c5d3; color: #fff;}
::-moz-selection {background: #57c5d3; color: #fff;}
img::selection {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: #57c5d3; color: #fff;}

body {
    font-family: 'PT Serif', serif;
    font-size: 62.5%;
    line-height: 1.5;
    color: #333;
    background: none repeat scroll 0 0 #fff;
}

h1, h2, h3, h4, h5, h6, .header { font-weight: normal; font-family: 'Arvo', serif; }
h1 { font-size: 3.5em; }
h2 { font-size: 2.8em; margin: 1.5em 0; }
h3 { font-size: 2.5em; }
h4 { font-size: 2em; }
h5, h6 { font-size: 1.9em; }

p, li, .ctable { font-size: 1.9em; }
li p,
li li { font-size: 1em; }
p, pre { margin: 1em 0; }
pre {
    background-color: #fff;
    border: 5px solid #F6F6F6;
    color: #555;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    font-size: 1.4em;
    padding: 1em;
    overflow-x: auto;
    white-space: pre;
}
li pre { font-size: 0.7em; }
p > code,
li > code {
    background-color: #F6F6F6;
    border: 1px solid #eee;
    color: #555;
    font-size: 0.8em;
    padding: 3px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
li { margin: 5px 0; }
hr {
    border: 1px solid #eee;
    margin: 4em 0;
}
.ctable {
    padding: 0 !important;
    margin: 2em 0;
    border: 1px solid #ccc;
}
.ctable .col-1-2 { padding: 0 !important; }
.ctable .cheader {
    background-color: #f6f6f6;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #666;
    padding: 10px 20px;
}
.ctable .cbody {
    padding: 20px 20px;
}
.ctable .cbody .sep {
    border: 1px dashed #f6f6f6;
    margin: 1em 0;
}
.ctable ul { margin: 0; }
.ctable li {
    font-size: 1em;
}
.ctable pre {
    font-size: 0.7em;
    white-space: pre-line;
    margin-bottom: 0;
}
.ctable-trans {
    border: 0 none;
}
.ctable-trans .cbody {
    padding: 0 10px;
}

.hey {
    color: #6B8E23;
    font-weight: 700;
}

a:link, a:visited { color: #333; text-decoration: none; }
a:focus, a:hover, a:active, a.jhover { color: #CD5C5C; text-decoration: underline; }

.hide { display: none; }

.imagem { text-align: center; margin: 2em 0; }
.imagem img {}
.imagem img.frame { border: 1px solid #ccc; padding: 2px; }

.try-me { text-align: center; margin: 4em 0; }
.try-me a {
    font-family: 'Arvo', serif;
    background-color: #eee;
    padding: 5px 10px 5px 40px !important;
    border: 0 none !important;
    margin: 0 5px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 0 1px #333333;
    -moz-box-shadow: 0 0 1px #333333;
    box-shadow: 0 0 1px #333333;
}
.try-me a:link, .try-me a:visited { background-color: #333; color: #6495ED !important; }
.try-me a:focus, .try-me a:hover {
    -webkit-box-shadow: 0 0 8px #999, 0 1px 1px #999;
    -moz-box-shadow: 0 0 8px #999, 0 1px 1px #999;
    box-shadow: 0 0 8px #999, 0 1px 1px #999;
    color: #CD5C5C !important;
}
.try-me a:active {
    -webkit-box-shadow: 0 0 1px #fff inset;
    -moz-box-shadow: 0 0 1px #fff inset;
    box-shadow: 0 0 1px #fff inset;
}
.try-me a.codepen {
    background-image: url(../img/icons/codepen.png);
    background-repeat: no-repeat;
    background-position: 9% 50%;
}
.try-me a.c9-io {
    background-image: url(../img/icons/c9.io.png);
    background-repeat: no-repeat;
    background-position: 9% 50%;
    padding-left: 50px !important;
}
.try-me a.phpfiddle {
    background-image: url(../img/icons/phpfiddle.png);
    background-repeat: no-repeat;
    background-position: 13% 50%;
    padding-left: 45px !important;
}
.try-me a.github {
    background-image: url(../img/icons/github.png);
    background-repeat: no-repeat;
    background-position: 7% 50%;
    /*padding-left: 40px !important;*/
}
.try-me a.github:link, .try-me a.github:visited { color: #9ACD32 !important; }
.try-me a.github:focus, .try-me a.github:hover, .try-me a.github:active {
    color: #CD5C5C !important;
}


/* --- */


.header {
    padding: 20px 0;
    border-top: 3px solid #333;
}
.header .grid {
    padding: 0 0 20px 0;
    border-bottom: 3px solid #eee;
}
.header a {}
.header a:link, .header a:visited { color: #333; }
.header a:focus, .header a:hover, .header a:active { color: #CD5C5C; text-decoration: none; }
.header-logo { line-height: 0; }
.header-logo img { height: 60px; }
.header-logo a span { display: none; }
.header-logo .content { padding-left: 20px; }
.header-menu { text-align: right; }
.header-menu .content { }
.header-menu ul { margin: 0; padding: 0; }
.header-menu li { display: inline; list-style: none outside none; margin-left: 3em; font-size: 4em; }

/* MIDDLE */

.middle {}
.middle .grid { padding: 20px 0; }
.middle .middle-content { padding-left: 20px; }

/* FOOTER */

.footer {
    padding: 20px 0;
}
.footer .grid {
    padding: 20px 0 0 0;
    border-top: 3px solid #eee;
    text-align: center;
}
.footer p {
    font-size: 1.6em;
    margin: 0.5em 0;
}
.footer a {}
.footer a:link, .footer a:visited { color: #CD5C5C; }
.footer a:focus, .footer a:hover, .footer a:active { color: #333; text-decoration: none; }
.footer .social a { margin: 0 5px; }
.footer .social a:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: #eee;
    border-radius: 5px 5px 5px 5px;
}
.footer .social a.codepen:before { background-color: #333; }
.footer .social a.github:before { background-color: #ccc; }
.footer .social a.cloud9:before { background-color: #89B0C0; }
@-webkit-keyframes glove {
    0% { -webkit-transform: scale(1); }
    5% { -webkit-transform: scale(1.1); }
    10% { -webkit-transform: scale(1); }
}
@-moz-keyframes glove {
    0% { -moz-transform: scale(1); }
    5% { -moz-transform: scale(1.1); }
    10% { -moz-transform: scale(1); }
}
@-o-keyframes glove {
    0% { -o-transform: scale(1); }
    5% { -o-transform: scale(1.1); }
    10% { -o-transform: scale(1); }
}
@keyframes glove {
    0% { transform: scale(1); }
    5% { transform: scale(1.1); }
    10% { transform: scale(1); }
}
.footer .glove {
    display: inline-block;
    color: #CD5C5C;
    -webkit-animation: glove 3s infinite;
    -moz-animation: glove 3s infinite;
    -o-animation: glove 3s infinite;
    animation: glove 3s infinite;
}


/* HOME */

.home { position: relative; text-align: right; }
.home a { text-decoration: none; }
.home a:link, .home a:visited { color: #333; }
.home a:focus, .home a:hover, .home a:active, .home a.jhover { color: #CD5C5C; }

.home .sec {}
.home .sec:first-child { margin-bottom: 40px; }
.home .sec-title {
    font-family: 'PT Serif', serif;
    font-size: 5em;
    color: #eee;
    margin: 0;
}

.home ul { margin: 0; padding: 0; }
.home li {
    position: relative;
    list-style: none outside none;
    padding-right: 110px;
    margin: 5px 0;
}
.home li .date {
    font-family: 'Arvo', serif;
    background-color: #eee;
    border-radius: 4px 4px 4px 4px;
    font-size: 0.7em;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 2px;
    width: 95px;
    color: #666;
    text-shadow: 1px 1px 0 #FFFFFF;
    cursor: default;
}
.home li:hover .date {
    background-color: #444;
    color: #eee;
    text-shadow: 1px 1px 0 #555;
}
.home li .ext {
    position: absolute;
    top: 4px;
    right: -30px;
    width: 25px;
    height: 20px;
}
.home li .ext-codepen {
    background: url(../img/icons/ext-codepen-off.png) top left no-repeat;
}
.home li:hover .ext-codepen {
    background: url(../img/icons/ext-codepen-on.png) top left no-repeat;
}
.home li .ext-web {
    background: url(../img/icons/ext-web-off.png) top left no-repeat;
}
.home li:hover .ext-web {
    background: url(../img/icons/ext-web-on.png) top left no-repeat;
}
.home li .himage { display: none; }

.home .ballon {}
.home .ballon img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
    /* --- */
    position: absolute;
    right: 150px;
    top: 50%;
    margin-top: -75px;
}
.home .ballon img.jfixed {
    position: fixed;
    right: 20%;
    margin-right: -75px;
}
.home .ballon img.anim
{
    -webkit-animation: section-img1 0.3s;
    -moz-animation: section-img1 0.3s;
    -o-animation: section-img1 0.3s;
    animation: section-img1 0.3s;
}
@-webkit-keyframes section-img1 {
    0% { -webkit-transform: scale(0); }
    25% { -webkit-transform: scale(0.5); }
    50% { -webkit-transform: scale(1); }
    75% { -webkit-transform: scale(0.9); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes section-img1 {
    0% { -moz-transform: scale(0); }
    25% { -moz-transform: scale(0.5); }
    50% { -moz-transform: scale(1); }
    75% { -moz-transform: scale(0.9); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes section-img1 {
    0% { -o-transform: scale(0); }
    25% { -o-transform: scale(0.5); }
    50% { -o-transform: scale(1); }
    75% { -o-transform: scale(0.9); }
    100% { -o-transform: scale(1); }
}
@keyframes section-img1 {
    0% { transform: scale(0); }
    25% { transform: scale(0.5); }
    50% { transform: scale(1); }
    75% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.home .ballon img.anim2
{
    -webkit-animation: section-img2 0.8s;
    -moz-animation: section-img2 0.8s;
    -o-animation: section-img2 0.8s;
    animation: section-img2 0.8s;
}
@-webkit-keyframes section-img2 {
    0% { -webkit-transform: scale(0); }
    25% { -webkit-transform: scale(0.5); }
    50% { -webkit-transform: scale(1); }
    75% { -webkit-transform: scale(0.9); }
    100% { -webkit-transform: scale(1); }
}
@-moz-keyframes section-img2 {
    0% { -moz-transform: scale(0); }
    25% { -moz-transform: scale(0.5); }
    50% { -moz-transform: scale(1); }
    75% { -moz-transform: scale(0.9); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes section-img2 {
    0% { -o-transform: scale(0); }
    25% { -o-transform: scale(0.5); }
    50% { -o-transform: scale(1); }
    75% { -o-transform: scale(0.9); }
    100% { -o-transform: scale(1); }
}
@keyframes section-img2 {
    0% { transform: scale(0); }
    25% { transform: scale(0.5); }
    50% { transform: scale(1); }
    75% { transform: scale(0.9); }
    100% { transform: scale(1); }
}


/* POST */

.post-view {
    padding: 0 !important;
}
.post-view .col-2-12,
.post-view .col-8-12 { padding: 0 !important; }
.post-view .post-title { text-align: center; }
.post-view .post-title img {
    border-radius: 50%;
    box-shadow: 5px 5px 0 #eee inset,
                -5px -5px 0 #eee inset,
                5px -5px 0 #eee inset,
                -5px 5px 0 #eee inset;
    padding: 5px;
}
.post-view .post-title h1 {
    /*color: #ccc;*/
    font-size: 6em;
    margin-top: 0.3em;
    font-family: 'PT Serif', serif;
}
.post-view .post-meta {
    color: #ccc;
}
.post-view a { text-decoration: none; padding-bottom: 2px; }
.post-view a:link, .post-view a:visited { color: #CD5C5C; border: 0; }
.post-view a:focus, .post-view a:hover, .post-view a:active, .post-view a.jhover { color: #CD5C5C; border-bottom: 1px solid #999; }


/* DISQUS */

.disqus_thread { margin-top: 40px; }


/* GITHUB-GIST */

.gist .gist-file .gist-data {
    font-size: 1.2em !important;
    max-height: 400px;
}


@media (max-width: 767px) {
    .ctable .col-1-2 { margin: 0 !important; }
    /* HEADER */
    .header,
    .header .grid { padding: 0; }
    .header-logo { display: none; }
    .header-menu { text-align: center; }
    .header-menu li { margin: 0 0.5em; }
    /* HOME */
    .home .ballon { display: none; }
    .home .sec { padding-right: 60px; }
    /* POST */
    .post-view .post-title h1 { font-size: 5em; }
}
@media (max-width: 480px) {
    body { font-size: 55%; }
    /* HEADER */
    .header-menu li { font-size: 3em; }
    /* MIDDLE */
    .middle .middle-content { padding-left: 0; }
    /* HOME */
    .home .grid,
    .home .list { padding: 0; }
    .home .sec { padding: 0 30px 0 0; }
    .home .sec:first-child { margin-bottom: 20px; }
    .home .sec-title {  }
    .home li { margin: 10px 0; padding: 15px 0 0; }
    .home li .date { top: 0; text-shadow: none; background-color: transparent; color: #999; width: 90px; padding: 0; text-align: right; }
    .home li:hover .date { background-color: transparent; color: #666; text-shadow: none; }
    .home li .ext { top: 0; right: -30px; }
    /* POST */
    .post-view .post-title img { display: none; }
    .post-view .post-title h1 { font-size: 4em; color: #ccc; }
    .post-view .col-2-12 { display: none; }
}
